html {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: auto;
    text-align: center;
}

main {
    width: 100%;
    display: table;
}

.moduleDeadline {
    margin: 10px;
    background-color: #333333;
    border-radius: 6px;
}

.deadlineAlmostOver {
    background-color: orange;
}

.deadlineOver {
    background-color: red;
}

@media screen and (min-width: 600px) {
    .moduleDeadline {
        margin-left: 20%;
        margin-right: 20%;
    }
}